
.about{
	background-image: url("../images/left-geartangle.svg");
	background-repeat: no-repeat;
	/*background-position: 170% 0%;*/
	background-size: contain;
}

.about-content>p{
	color: white;
	padding: 1rem;
}

@media screen and (max-width: 1024px){
	.about{
		background-color: var(--primary) ;
		height: auto;
		background-image: none;
	}
	
	.gear{
		margin-right: 0;
	}
	.row{
		margin: 0;
	}
	.about-content{
		padding: 0;
		margin-bottom: 2rem;
	}
	.about-content>p{
		margin-top: 1rem;
		margin-bottom: 0rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		text-align: center;
		padding: 0;
	}
	.about-title>h1{
		text-align: center;
	}
}