
.about{
	height: 100vh;
	background-image: url("../images/left-geartangle.svg");
	background-repeat: no-repeat;
	background-position: 170% 0%;
	background-size: cover;
}

.about-content>p{
	color: white;
	padding: 1rem;
}

@media screen and (max-width: 768px){
	.about{
		background-color: var(--primary) ;
	}
	.about-title{
		left: 4rem;
	}
	.gear{
		margin-right: 2rem;
	}
	.line{
		width: 100%;
		margin:  0;
		
	}
	.about-content>p{
		margin-top: 5rem;
		padding: 2rem;
	}



}