.enquiry{
	/*height: 100vh;*/
	background-image: url("../images/right-geartangle.svg");
	background-repeat: no-repeat;
	/*background-position: -85% 0%;*/
	background-size: cover;
	margin-top: 3rem;
}

.contact-input{
	background-color: transparent;
	border: transparent;
	border-bottom: solid 0.1rem lightblue;
}

.enquiry-head{
	margin-left: 35rem;
}
.form-group>label{
	color: white;
}

.form-title>h4{
	color: white;
	margin-top: 2rem;
}
form{
	margin-top: 1rem;
}
.submit-button{
	margin-top: 2rem;	
}
.form-control{
	color: white;
}
.form-control:focus, .form-control:active {
    background: transparent;
    color: white;
}
.input-group-append,.input-group-prepend,.input-group-text{
	background-color: transparent;
	color: white;
	border: none;
}

@media screen and (max-width:  1024px){
	.enquiry{
		height: auto;
		background-color: var(--primary);
		background-image: none;
	}
	.enquiry-content{
		margin-top: 4rem;
	}
	.enquiry-title{
		text-align: center;
		padding: 0;
	}
	.form-title{
		padding: 0;
	}
	.form-title>h4{
		text-align: center;
	}
	.submit-button{
		display: flex;
		justify-content: center;
	}
	.contact-fields{
		width: 80%;
	}
}

@media screen and (min-width:  768px) and (max-width:  1024px){
	.form-group{
		width: 100%;
	}
	.enquiry-content{
		margin-top: 1rem;
	}
	form{
		margin-top: 0.2rem;
	}
	.submit-button{
		margin-left: 5rem;
	}
}