.enquiry{
	height: 100vh;
	background-image: url("../images/right-geartangle.svg");
	background-repeat: no-repeat;
	background-position: -85% 0%;
	background-size: cover;
}

.contact-input{
	background-color: transparent;
	border: transparent;
	border-bottom: solid 0.1rem lightblue;
}
.contact-fields{
	margin:  2rem;
}

.form-group>label{
	color: white;
}

.form-title>h4{
	color: white;
}