.enquiry{
	height: 100vh;
	background-image: url("../images/right-geartangle.svg");
	background-repeat: no-repeat;
	background-position: -85% 0%;
	background-size: cover;
}

.contact-input{
	background-color: transparent;
	border: transparent;
	border-bottom: solid 0.1rem lightblue;
}

.enquiry-head{
	margin-left: 35rem;
}
.form-group>label{
	color: white;
}

.form-title>h4{
	color: white;
	margin-top: 2rem;
}

@media screen and (max-width:  1024px){
	.enquiry{
		height: auto;
		background-color: var(--primary);
	}
	.enquiry-content{
		margin-top: 7rem;
	}
	.enquiry-title{
		text-align: center;
		padding: 0;
	}
	.submit-button{
		display: flex;
		justify-content: center;
	}
	.contact-fields{
		width: 80%;
	}
}