.footer{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.logo-footer-1{
	margin: 2rem;
	height: 3rem;
	width: 6rem;
}
.logo-footer-2{
	margin: 2rem;
	height: 3rem;
	width: 5.5rem;
}

.footer-links{
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	cursor: pointer;
}

.footer-link{
	padding-left: 1rem;
	padding-right: 1rem;
}

.footer-copyright{
	border-top: 0.1rem solid rgba(128,128,128,0.5);
	width: 90%;
	display: flex;
	justify-content: space-between;
}

.footer-right{
	text-align: right;
}
.footer-copyright>p>i{
	padding-right: 0.5rem;
}
.footer-copyright>p>span{
	display: inline-block;
	margin-left: 1rem;
}
@media screen and (max-width:  1024px){
	.footer-links{
		padding: 0;
	}
	.footer-link{
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	.fa-envelope{
		padding: 0;
	}
}

