.how{
		/*height: 100vh;*/
	}
.how-content{
	justify-content: center;
	margin-top: 2rem;
}

.how-card{
	background-color: #0086C71A;
	border: 1px solid #0086C766;
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	margin-bottom: 3rem;
	align-items: center;
	justify-content: flex-end;
	cursor: context-menu;
	padding-left: 1rem ;
	padding-right: 1rem ;
	padding-top: 2rem;
	padding-bottom: 2rem;
	cursor: pointer;
}

.how-card>h1{
	font-weight: 700;
	font-size: 5rem;
	color: #CCEDFF;
	position: relative;
	justify-self: center;
	align-self: center;
}

.how-card>h4{
	position: absolute;
	font-weight: 600;
	margin-bottom: 6.5rem;
	font-size: 1.2rem;
	word-wrap: break-word;
	width: 10rem;
	text-align: center;
}

/*.card-2>h4,.card-3>h4,.card-4>h4{
	margin-bottom: 5.5rem;
}*/

.how-card>p{
	text-align: center;
	margin-bottom: 2rem;
}

.card-info{
	display: none;
	margin-top: 0.5rem;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.card-img{
	padding-top: 2rem;
	height: 6rem;
	width: 6rem;
}
.how-info-sec{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.how-info{
	display: none;
	text-align: center;
	font-size: 1.2rem;
}
.fa-info-circle{
	cursor: pointer;
	padding: 2rem;
}
.video-player{
	position: relative;
  	overflow: hidden;
  	width: 100%;
  	padding-top: 56.25%;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}




.for{
	background-color: #0086C766;
}
.for-title{
	width: 100%;
	color: white;
	text-align: center;
	border-bottom: solid 2px orange;
	padding: 0.5rem;
}

.for-img{
	height: 5rem;
	width: 7rem;
}
.for-div{
	display: flex;
	justify-content: center;
}

.for-content{
	display: flex;
	justify-content: center;
	padding: 0;
}

@media screen and (max-width:  1024px){
	.how{
		height: auto;
	}
	.how-content{
		margin-top: 7rem;
	}
	.how-card{
		width: 100%;
	}
	.for-img{
		margin: 1rem;
	}
}

@media screen and (max-width: 768px){
	.for-img{
		height: 3rem;
		width: 5rem;
		margin: 0.5rem;
	}
}