html {
  scroll-behavior: smooth;
  margin: 0;
 }

.container{
	margin-left: 10rem;
	margin-right: 10rem;
}
.title-head{
	height: 10rem;
}

.gear{
	position: relative;
}

.why-title{
	position: absolute;
	margin-top: 5rem;
	color: var(--primary);
	font-weight: bold;
}

.how-title{
	position: absolute;
	margin-top: 5rem;
	color: var(--primary);
	font-weight: bold;
}

.about-title{
	position: absolute;
	margin-top: 5rem;
	color: white;
	margin-left: 0rem; /*5rem on larger screen*/
	font-weight: bold;
}

.gallery-title{
	position: absolute;
	margin-top: 5rem;
	color: var(--primary);
	font-weight: bold;
}
.enquiry-title{
	position: absolute;
	margin-top: 5rem;
	color: white;
	margin-left: 0rem; /*45 rem on large screen*/
	font-weight: bold;
}


.line{
	border-bottom: 0.2rem solid orange ;
	margin-right: 10rem ;
	margin-bottom: 3.2rem;

}


@media screen and (max-width: 1024px){
	
	.about-title{
		left: 0rem; /*4rem on larger screens*/
	}
	.why-title{
		left: 0rem; /*4rem on larger screens*/
	}
	.enquiry-title{
		left: 0rem; /*4rem on larger screens*/
	}
	.gear{
		margin-right: 2rem;
		margin-left: 0;
	}
	.line{
		width: 100%;
		margin:  0;
		
	}


}