html {
  scroll-behavior: smooth;
  margin: 0;
 }

.container{
	margin-left: 10rem;
	margin-right: 10rem;
}

.gear{
	position: relative;
}
.enquiry-gear{
	margin-left:23rem ;
}

.line{
	width: 250px;
	border-bottom: 0.2rem solid orange;
}


.about-title{
    position: absolute;
    top: 4rem;
    white-space: nowrap;
    left: 5rem;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.why-title{
    position: absolute;
    top: 4rem;
    white-space: nowrap;
    left: 5rem;
    color: var(--primary);
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
.how-title{
    position: absolute;
    top: 4rem;
    white-space: nowrap;
    left: 5rem;
    color: var(--primary);
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
.gallery-title{
    position: absolute;
    top: 4rem;
    white-space: nowrap;
    left: 5rem;
    color: var(--primary);
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.enquiry-title{
    position: absolute;
    top: 4rem;
    white-space: nowrap;
    left: 2rem;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1024px){
	
	.about-title{
		top: 6rem;
		padding: 0;
    	left: -2rem;
    	flex-direction: column;
	}
	.why-title{
		top: 6rem;
		padding: 0;
		left: -3.5rem;
		flex-direction: column;

	}
	.how-title{
		top: 6rem;
		text-align: center;
		padding: 0;
		left: -2rem;
		flex-direction: column;
	}
	.gallery-title{
		top: 6rem;
		text-align: center;
		padding: 0;
		left: -2rem;
		flex-direction: column;
	}
	.enquiry-title{
		top: 6rem;
		text-align: center;
		padding: 0;
		left: -2rem;
		flex-direction: column;
	}
	.gear{
		margin-right: 2rem;
		margin-left: 0;
	}
	/*.line{
		width: 250px;
		border-bottom: 0.2rem solid orange;
	}
*/

}